PORT=3443
FRONTEND_ORIGIN=https://localhost:3443
TLS_KEY_PATH=.certs/localhost-key.pem
TLS_CERT_PATH=.certs/localhost.pem
SERVE_CLIENT=true
MONGODB_URI=mongodb://127.0.0.1:27017/fabulari?replicaSet=fabulari-rs
MONGODB_DATABASE=fabulari
